@model JWMaps.ViewModel.TerritoryMapViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("NewTerritoryMap", "TerritoryMaps", FormMethod.Post))
{
    <p>@Html.DropDownListFor(t => t.selectedNeighbourhood, new SelectList(Model.Neighbourhoods), "", new { @class = "form-control" })                </p>
    <button type="submit" class="btn btn-primary">New territory map</button>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
