@model JWMaps.ViewModel.TerritoryMapViewModel

@{
    ViewBag.Title = "Criando o mapa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Como será o mapa?</h2>

@using (Html.BeginForm("New", "TerritoryMaps", FormMethod.Post))
{
    <div class="form-group">
        <label>Tipo de endereço</label>
        @Html.EnumDropDownListFor(m => m.Category, "-- Selecione um tipo de endereço --", new { @class = "form-control", @selected="selected" })
        @Html.ValidationMessageFor(m => m.Category)
    </div>
    <div class="form-group" id="neighbourhood-div">
        <label>Bairro</label>
        <select class="form-control" id="select-neighbourhoods"></select>
    </div>

    <div id="divLoading">
    </div>

    <button id="create-map-btn" type="submit" class="btn btn-primary" onclick='showLoading();'>Criar!</button>
}
<br />
<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section scripts
{
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {            
            main();
        });

        function main() {
            $("#neighbourhood-div").hide();
            $("#create-map-btn").hide();
            setDefaultSelectedCategory();

            $("#Category").change(function () {
                var mapType = $("#Category").find(":selected").text();
                $("#select-neighbourhoods").empty();

                onMapCategoryOptionSelected(mapType);
            })
        }

        function setDefaultSelectedCategory() {
            $("#Category selectz").sele
        }

        function onMapCategoryOptionSelected(mapType) {
            $.ajax({
                    url: "@Url.Action("GetNeighbourhoodByMapType", "TerritoryMaps")",
                    type: "POST",
                    data: { 'maptype': mapType },
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                        if (response.success) {
                            showSelect(response.Neighbourhoods);
                        }
                        else {
                            hideSelect();
                        }
                    },
                    error: function (xhr, status, exception) {
                        console.log("Error: " + exception + ", Status: " + status);
                    }
            });
        }

        function showSelect(neighbourhoods) {
            $("#neighbourhood-div").fadeIn();
            setTimeout(function () { $("#create-map-btn").fadeIn() }, 500);

            $.each(neighbourhoods, function (index, neighbourhood) {
                $("#select-neighbourhoods").append($('<option>', { value: index, text: neighbourhood}))
            })
        }

        function hideSelct() {
            $("#neighbourhood-div").fadeOut();
            setTimeout(function () { $("#create-map-btn").fadeOut() }, 500);
        }

        function showLoading() {
            $("div#divLoading").addClass('show');
        }
    </script>
}