@model List<JWMaps.Models.TerritoryMap>

@{
    ViewBag.Title = "Meus territórios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Minha lista de territórios</h2>

<p>@Html.ActionLink("Novo território", "Create", "TerritoryMaps", null, new { @class = "btn btn-primary" })</p>

<br />

<table id="territoryMaps" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Mapa</th>
            <th>Bairro</th>
            <th>Apagar</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Html.ActionLink("Mapa " + (i+1) , "Show", "TerritoryMaps", new { id = Model[i].Id }, null)</td>
                <td>@Model[i].Neighbourhood</td>                
                <td><button class="btn-link js-delete" data-id=@Model[i].Id>deletar</button></td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#territoryMaps").DataTable();

            $(".js-delete").on("click", function () {
                var tr = $(this).closest('tr');
                var button = $(this);

                bootbox.confirm("Você tem certeza que deseja devolver esse mapa?", function (result) {
                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("Delete","TerritoryMaps")",
                            ajaxasync: true,
                            data: { id: button.attr("data-id") },
                            success: tr.remove()
                        });
                    }
                });
            });
        });
    </script>
}