@model List<JWMaps.Models.TerritoryMap>

@{
    ViewBag.Title = "ListTerritoryMapView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Territory Maps</h2>

<p>@Html.ActionLink("New Territory Map", "Create", "TerritoryMaps", null, new { @class = "btn btn-primary" })</p>
<table id="territoryMaps" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>nth</th>
            <th>Neighbourhood</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@(i+1)</td>
                <td>@Html.ActionLink(Model[i].CreationDate.ToString(), "Show", "TerritoryMaps", new { id = Model[i].Id }, null)</td>                
                <td><button class="btn-link js-delete" data-terrytorymap-id=@Model[i].Id>deletar</button></td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#territoryMaps").DataTable();


            $("#territoryMaps .js-delete").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Você tem certeza que deseja deletar esse registro?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "@Url.Action("DeleteConfirmed", "TerritoryMaps")",
                            type: 'Delete',
                            data: { id: button.attr("data-terrytorymap-id")},
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>
}