
@{
    ViewBag.Title = "Nenhum mapa atende a esses parâmetros";
}

<div class="jumbotron">
    <h1>Ops...</h1>
    <p>Não foi possível formar nenhum mapa com os parâmetros fornecidos. Tente mudar o bairro ou o tipo  de mapa (comercial ou residencial).</p>
</div>
<div>
    @Html.ActionLink("Voltar", "Index")
</div>