body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

.validation-summary-errors {
    color: red;
}

#wrapper {
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
    position: fixed;
}

#statistics {
    height: 100%;
}

#legend {
    font-family: Arial, sans-serif;
    font-size: 10px;
    background: #fff;
    padding: 5px;
    margin: 5px;
    border: 1px solid #000;
}

    #legend h3 {
        margin-top: 0;
        text-align: center;
        font-size: 12px;
    }

    #legend img {
        vertical-align: middle;
        height: 20px;
    }

#divLoading {
    display: none;
}

    #divLoading.show {
        display: block;
        position: fixed;
        z-index: 100;
        background-image: url('http://loadinggif.com/images/image-selection/3.gif');
        background-color: #666;
        opacity: 0.4;
        background-repeat: no-repeat;
        background-position: center;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
    }

#loadinggif.show {
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 101;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
}

div.content {
    width: 1000px;
    height: 1000px;
}
