@model List<JWMaps.ViewModel.HouseholderViewModel>

@{
    ViewBag.Title = "ListHouseholders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of householders</h2>

<p>@Html.ActionLink("New Householder", "New", "Householders", null, new { @class = "btn btn-primary" })</p>
<table id="householders" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>            
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Householder.Name, "Edit", "Householders", new { id = item.Householder.Id }, null)</td>
                <td>@item.Householder.Address</td>
            </tr>
        }
    </tbody>
</table>



