@model List<JWMaps.ViewModel.HouseholderViewModel>

@{
    ViewBag.Title = "ListHouseholders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of householders</h2>

<p>@Html.ActionLink("New Householder", "New", "Householders", null, new { @class = "btn btn-primary" })</p>
<table id="householders" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Neighbourhood</th>          
            <th>Delete</th>  
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Householder.Name, "Edit", "Householders", new { id = item.Householder.Id }, null)</td>
                <td>@item.Householder.Address</td>
                <td>@item.Householder.Neighbourhood</td>
                <td><button class="btn-link js-delete">deletar</button></td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#householders").DataTable();


            $("#householders .js-delete").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Você tem certeza que deseja deletar esse registro?", function (result) {
                    if (result) {
                    }
                });
            });
        });
    </script>    
}


