@model List<JWMaps.Models.Publisher>
@{
    ViewBag.Title = "ListPublishers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List Publishers</h2>

<p>@Html.ActionLink("New Publisher", "New", "Publishers", null, new { @class = "btn btn-primary" })</p>
<table id="publishers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Deletar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var publisher in Model)
        {
            <tr>
                <td>@Html.ActionLink(publisher.Name, "Edit", "Publishers", new { id = publisher.Id }, null)</td>
                <td><button class="btn-link js-delete">deletar</button></td>
            </tr>
        }
    </tbody>
</table>


